@* @page "/TaskViewModels/edit"
@inject BlazorToDoTasks.Client.Data.BlazorToDoTasksClientContext DB
@using BlazorToDoTasks.Client.ViewModels
@inject NavigationManager NavigationManager
@using Microsoft.EntityFrameworkCore

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h4>TaskViewModel</h4>
<hr />
@if (TaskViewModel is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="TaskViewModel" OnValidSubmit="UpdateTaskViewModel" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary />
                <input type="hidden" name="TaskViewModel.Id" value="@TaskViewModel.Id" />
                <div class="mb-3">
                    <label for="title" class="form-label">Title:</label>
                    <InputText id="title" @bind-Value="TaskViewModel.Title" class="form-control" />
                    <ValidationMessage For="() => TaskViewModel.Title" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description:</label>
                    <InputText id="description" @bind-Value="TaskViewModel.Description" class="form-control" />
                    <ValidationMessage For="() => TaskViewModel.Description" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="startdate" class="form-label">StartDate:</label>
                    <InputDate id="startdate" @bind-Value="TaskViewModel.StartDate" class="form-control" />
                    <ValidationMessage For="() => TaskViewModel.StartDate" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="enddate" class="form-label">EndDate:</label>
                    <InputDate id="enddate" @bind-Value="TaskViewModel.EndDate" class="form-control" />
                    <ValidationMessage For="() => TaskViewModel.EndDate" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/taskviewmodels">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    public int Id { get; set; }

    [SupplyParameterFromForm]
    public TaskViewModel? TaskViewModel { get; set; }

    protected override async Task OnInitializedAsync()
    {
        TaskViewModel ??= await DB.TaskViewModel.FirstOrDefaultAsync(m => m.Id == Id);

        if (TaskViewModel is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more details, see https://aka.ms/RazorPagesCRUD.
    public async Task UpdateTaskViewModel()
    {
        DB.Attach(TaskViewModel!).State = EntityState.Modified;

        try
        {
            await DB.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!TaskViewModelExists(TaskViewModel!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/taskviewmodels");
    }

    bool TaskViewModelExists(int id)
    {
        return DB.TaskViewModel.Any(e => e.Id == id);
    }
}
 *@@* @page "/TaskViewModels/edit"
@inject BlazorToDoTasks.Client.Data.BlazorToDoTasksClientContext DB
@using BlazorToDoTasks.Client.ViewModels
@inject NavigationManager NavigationManager
@using Microsoft.EntityFrameworkCore

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h4>TaskViewModel</h4>
<hr />
@if (TaskViewModel is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="TaskViewModel" OnValidSubmit="UpdateTaskViewModel" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary />
                <input type="hidden" name="TaskViewModel.Id" value="@TaskViewModel.Id" />
                <div class="mb-3">
                    <label for="title" class="form-label">Title:</label>
                    <InputText id="title" @bind-Value="TaskViewModel.Title" class="form-control" />
                    <ValidationMessage For="() => TaskViewModel.Title" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description:</label>
                    <InputText id="description" @bind-Value="TaskViewModel.Description" class="form-control" />
                    <ValidationMessage For="() => TaskViewModel.Description" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="startdate" class="form-label">StartDate:</label>
                    <InputDate id="startdate" @bind-Value="TaskViewModel.StartDate" class="form-control" />
                    <ValidationMessage For="() => TaskViewModel.StartDate" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="enddate" class="form-label">EndDate:</label>
                    <InputDate id="enddate" @bind-Value="TaskViewModel.EndDate" class="form-control" />
                    <ValidationMessage For="() => TaskViewModel.EndDate" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/taskviewmodels">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    public int Id { get; set; }

    [SupplyParameterFromForm]
    public TaskViewModel? TaskViewModel { get; set; }

    protected override async Task OnInitializedAsync()
    {
        TaskViewModel ??= await DB.TaskViewModel.FirstOrDefaultAsync(m => m.Id == Id);

        if (TaskViewModel is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more details, see https://aka.ms/RazorPagesCRUD.
    public async Task UpdateTaskViewModel()
    {
        DB.Attach(TaskViewModel!).State = EntityState.Modified;

        try
        {
            await DB.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!TaskViewModelExists(TaskViewModel!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/taskviewmodels");
    }

    bool TaskViewModelExists(int id)
    {
        return DB.TaskViewModel.Any(e => e.Id == id);
    }
}
 *@